.page-title__container {
    text-align: center;
}
.page-title__icon {
    vertical-align: middle;
}

.page-title {
    padding: 2em 0;
    color: $headingColor;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;
}