$navLinkColor: #4d4959;
$bgPrimaryColor: #f7f7f7;
$bgSecondaryColor: #282f35;
$headingColor: #353738;
$textColor: #848789;
$brandColor: #64c29e;
$brandColor08: rgba(100, 194, 158, 0.8);
$fieldBorderColor: #d3d7d9;
$fieldPlaceholderColor: #929292;

$whiteColor: #fff;

$dotsColor: #a9afb3;